@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Bebas+Neue&display=swap');

html{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Barlow', sans-serif;
}